h1 {
    color: azure;
}

body {
    background: linear-gradient(to bottom, #0e0e0e 0%, #595959 99%);
    font-family: Arial;
}

.container {
    width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d3d3d3;
}

.well {
    background-color: white;
    border: 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;

}

.col-md-6 {
    padding: 1px;
}

.media-body {
    width: auto;
    margin-top: 0px;

}

<!--
WYSZUKIWARKA

-->

.col-sm-6.col-sm-offset-3 {
    margin-left: 400px;
}

#imaginary_container {
    margin-top: 20%; /* Don't copy this */
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.row {
    width: 370px;
}

.hk {

    width: 10px;
    height: 10px;
}

.col-md-5 {
    float: right;
    height: 300px;
    width: 450px;
}