<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Rocznik="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie samochody</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        h1 {
            color: azure;
        }

        body {
            background: linear-gradient(to bottom, #0e0e0e 0%, #595959 99%);
            font-family: Arial;
        }

        .container {
            width: 800px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            background-color: #d3d3d3;
        }

        .well {
            background-color: white;
            border: 2px solid;
            padding-top: 15px;
            padding-bottom: 15px;

        }

        .col-md-6 {
            padding: 1px;
        }

        .media-body {
            width: auto;
            margin-top: 0px;
        }

        <!--
        WYSZUKIWARKA

        -->
        .col-sm-6.col-sm-offset-3 {
            margin-left: 400px;
        }

        #imaginary_container {
            margin-top: 20%;
        }

        .stylish-input-group .input-group-addon {
            background: white !important;
        }

        .stylish-input-group .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
        }

        .stylish-input-group button {
            border: 0;
            background: transparent;
        }

        .row {
            width: 370px;
        }

        .hk {
            width: 10px;
            height: 10px;
        }

        .col-md-5 {
            float: right;
            height: 300px;
            width: 450px;
        }

        submit {

        }
    </style>
</head>
<body>
<center><h1>Witamy na portalu z samochodami</h1></center>


<form action="/cars/search" method="post">
    <div class="container logo-container">
        <center><h2>Oferta</h2></center>

        <input type="text" class="form-control form-control-search" style="width: 214px" name="brand"
               placeholder="Szukaj marki">


        <input type="text" class="form-control form-control-search" style="width: 214px" name="model"
               placeholder="Szukaj modelu">

        <label for="year_from">Od roku:</label>
        <input type="number" id="year_from" name="year_from"/>
        <br>
        <label for="year_to">Do roku:</label>
        <input type="number" id="year_to" name="year_to"/>
        <br>
        <label for="fuel">Paliwo:</label>
        <input type="text" id="fuel" style="width: 160px" name="fuel"/>
        <br>
        <label for="color">Kolor:</label>
        <input type="text" id="color" style="width: 160px" name="color"/>
        <br>

        <input type="submit" value="Szukaj">
    </div>
</form>
<div class="container">
    <p style="color: green" th:if="${message}" th:text="${message}"></p> <!-- WYŚWIETLANIE WYNIKU WYSZUKIWANIA -->

    <div th:each="car : ${posts}">
        <div class="well">
            <div class="media">
                <div class="col-md-5">
                    <p><strong>Zdjęcie poglądowe: </strong></p>
                    <div class="hk">
                        <img th:src="${car.url}"/>
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${car.brand + '  ' + car.model}"></h4>
                    <br/>
                    <div class="col-md-6">
                        <p><strong>Rocznik:</strong></p>
                        <div class="col-md-6">
                            <p th:text="${car.year}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Przebieg:</strong></p>
                        <div class="col-md-6">
                            <p th:text="${car.distance}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Rodzaj Paliwa:</strong></p>
                        <div class="col-md-6">
                            <p th:text="${car.fuel}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Kolor:</strong></p>
                        <div class="col-md-6">
                            <p th:text="${car.color}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Cena:</strong></p>
                        <div class="col-md-6">
                            <h3><p th:text="${car.price + 'zł'}"></p></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>